<div class="boxtitle">Support</div>
<div class="box">
<p>Afin de b&eacute;n&eacute;ficier du support <b>OxyCast</b>, vous devez &ecirc;tre client. Toute demande de support demand&eacute;e par une personne n'ayant pas souscrit &agrave; nos services ne sera pas trait&eacute;e.</p>

<p>Pour contacter le support, il suffit d'envoyer un mail &agrave;:</p>
<center><a href="mailto:support@oxycast.net"><b><big>support@oxycast.net</big></b></a></center>

<p>Vous pouvez &eacute;galement nous rejoindre sur notre salon IRC sur irc.freenode.net salon <b>#oxycast</b>:</p>
<iframe src="http://webchat.freenode.net/?channels=oxycast" width="800" height="400"></iframe>

</div>