<div class="boxtitle">Mes Animateurs</div>
<div class="content_content">

<p><u>Cr&eacute;er un animateur</u></p>
<form action="animateur-new" method="post">
<table>
  <tr>
    <td>Animateur:</td>
    <td><input type="text" name="animateur" /></td>
    <td>Mot de passe:</td>
    <td><input type="text" name="password" /></td>
    <td><input class="submit" type="submit" name="add" value="Ajouter" /></td>
  </tr>
</table>
</form>

<p><u>Liste des animateurs</u></p>

<table style="width:100%;">
	<tr>
		<th>Nom</th>
		<th>Mot de Passe</th>
		<th>Actions</th>
	</tr>
<?php

$animateurs = Animateur::getAnims($compte);

foreach ($animateurs as $animateur)
{
   echo '<tr><td style="width:33%;">'.$animateur['name'].'</td>';
   echo '<td style="width:33%;">'.$animateur['password'].'</td>';
   echo '<td style="width:33%;"><a href="animateur-edit-'.$animateur['id'].'"><img src="images/edit.png" alt="" /> Editer</a> &nbsp;|&nbsp;
   <a href="animateur-del-'.$animateur['id'].'"><img src="images/del.png" alt="" /> Supprimer</a></td></tr>';
}
?>
</table>
<hr />

<p><u>Assigner un cr&eacute;neau horaire &agrave; un animateur</u></p>
<form action="new-creneau" method="post">
<table>
	<tr>
		<td>Animateur :</td>
		<td>
<?php

echo '<select name="animateur">';

for ($i = 0; $animateurs[$i]; $i++)
{
   echo '<option value="wich_anim">'
   .$animateurs[$i]['name'].
   '</option>';
}
echo '</select>';
?>
		</td>
	</tr>
	<tr>
		<td>Jour :</td>
		<td>
		  <select name="jour">
		    <?php 
		       $jour = array(1 => "Lundi", 2 => "Mardi", 3 => "Mercredi", 4 => "Jeudi", 5 => "Vendredi", 6 => "Samedi", 7 => "Dimanche");
		    for ($i = 0; $i <= 7; $i++) echo '<option value="'.$i.'">'.$jour[$i].'</option>';
				       ?>
		      </select>
		</td>
	</tr>
	<tr>
		<td>Heure de d&eacute;but :</td>
		<td>
			<select name="hdebut"><?php for($i = 0; $i <=23; $i++) echo '<option value="'.$i.'">'.$i.' h</option>'; ?></select> :
			<select name="mdebut"><?php for($i = 0; $i <=59; $i++) echo '<option value="'.$i.'">'.$i.' mn</option>'; ?></select>
		</td>
	</tr>
	<tr>
		<td>Heure de fin :</td>
		<td>
			<select name="hfin"><?php for($i = 0; $i <=23; $i++) echo '<option value="'.$i.'">'.$i.' h</option>'; ?></select> :
			<select name="mfin"><?php for($i = 0; $i <=59; $i++) echo '<option value="'.$i.'">'.$i.' mn</option>'; ?></select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" name="add_horaire" value="Ajouter" /></td>
	</tr>
</table>

<p><u>Liste des creneaux</u></p>

<ul>
<?php

$creneaux = Creneaux::getCreneaux($compte);

for ($i = 0; $creneaux[$i]; $i++)
{
   echo '<li>'.$creneaux[$i]['id_anim'].' - '.Creneaux::getDate($creneaux[$i]['jour']).' - '.$creneaux[$i]['heure_debut'].' - '.$creneaux[$i]['heure_fin'].'<a href="creneaux-del-'.$creneaux[$i]['id'].'"> <img src="images/del.png" alt="" /></a></li>';
}
?>
</ul>


</form>
</div>
