<div class="boxtitle">Mes Animateurs</div>
<div class="content_content">

<p><u>Cr&eacute;er un animateur</u></p>
<form action="animateur-new" method="post">
<table>
  <tr>
    <td>Animateur:</td>
    <td><input type="text" name="animateur" /></td>
    <td>Mot de passe:</td>
    <td><input type="text" name="password" /></td>
    <td>Email:</td>
    <td><input type="text" name="mail" /></td>
    <td><input class="submit" type="submit" name="add_animateur" value="Ajouter" /></td>
  </tr>
</table>
</form>

<p><u>Liste des animateurs</u></p>

<table style="width:100%;">
	<tr>
		<th>ID</th>
		<th>Nom</th>
		<th>Mot de Passe</th>
		<th>Email</th>
		<th>Actions</th>
	</tr>
<?php

$animateurs = Animateur::getAnimateurs($compte);

foreach ($animateurs as $animateur)
{
   
   echo '<tr<td style="width:10%;">'.$animateur['id'].'</td>';
   echo '<td style="width:20%;">'.$animateur['name'].'</td>';
   echo '<td style="width:25%;">'.$animateur['password'].'</td>';
   echo '<td style="width:25%;">'.$animateur['mail'].'</td>';
   echo '<td style="width:25%;"><a href="animateur-edit-'.$animateur['id'].'"><img src="images/edit.png" alt="" /> Editer</a> &nbsp;|&nbsp;
   <a href="animateur-del-'.$animateur['id'].'"><img src="images/del.png" alt="" /> Supprimer</a></td></tr>';
}
?>
</table>
<hr />

<p><u>Assigner un cr&eacute;neau horaire &agrave; un animateur</u></p>
<form action="creneaux-new" method="post">
<table>
	<tr>
		<td>Animateur :</td>
		<td>
			<select name="animateur">
<?php
foreach ($animateurs as $animateur)
{
   echo '<option value="' . $animateur['id'] . '">' . $animateur['name'] . '</option>';
}
?>
			</select>
		</td>
	</tr>
	<tr>
		<td>Jour :</td>
		<td>
		  <select name="jour">
		    <?php 
		       $jour = array(1 => "Lundi", 2 => "Mardi", 3 => "Mercredi", 4 => "Jeudi", 5 => "Vendredi", 6 => "Samedi", 7 => "Dimanche", 8 => "Tous les jours (*)");
		    for ($i = 1; $i <= 8; $i++) echo '<option value="'.$i.'">'.$jour[$i].'</option>';
				       ?>
		      </select>
		</td>
	</tr>
	<tr>
		<td>Heure de d&eacute;but :</td>
		<td>
			<select name="hdebut"><?php for($i = 0; $i <= 23; $i++) echo '<option value="'.$i.'">'.$i.' h</option>'; ?></select> :
			<select name="mdebut"><?php for($i = 0; $i <= 59; $i++) echo '<option value="'.$i.'">'.$i.' mn</option>'; ?></select>
		</td>
	</tr>
	<tr>
		<td>Heure de fin :</td>
		<td>
			<select name="hfin"><?php for($i = 0; $i <= 23; $i++) echo '<option value="'.$i.'">'.$i.' h</option>'; ?></select> :
			<select name="mfin"><?php for($i = 0; $i <= 59; $i++) echo '<option value="'.$i.'">'.$i.' mn</option>'; ?></select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" name="add_creneaux" value="Ajouter" /></td>
	</tr>
	<tr>
		<td></td>
		<td><em>(*) Dans le cas de "Tous les jours" il n'est pas nécessaire de remplir les heures de début et de fin, l'accès au live sera autorisé 24h/24.</em></td>
</table>

<p><u>Liste des creneaux</u></p>

<ul>
<?php

$creneaux = Creneaux::getCreneaux($compte);

foreach ($creneaux as $creneau)
{
	$anim = new Animateur ($compte, $creneau->id_anim);
   echo '<li>'.$anim->id.' - '.$anim->name.' - '.Creneaux::getDate($creneau->jour).' - <em>'.$creneau->heure_debut.' -> '.$creneau->heure_fin.'<a href="creneaux-del-'.$creneau->id.'"></em> <img src="images/del.png" alt="" /></a></li>';
}
?>
</ul>


</form>
</div>
