<div class="boxtitle">Mes Animateurs</div>
<div class="content_content">

<p><u>Editer un animateur</u></p>
<form action="" method="post">
<table>
  <tr>
    <td>Animateur:</td>
    <td><input type="text" name="animateur" value="<?php echo $animateur->name; ?>"/></td>
    <td>Mot de passe:</td>
    <td><input type="text" name="password" value="<?php echo $animateur->password; ?>" /></td>
    <td><input class="submit" type="submit" name="edit" value="Modifier" /></td>
  </tr>
</table>
</form>

<p><big><a href="animateur">Retour</a></big></p>

</div>
