<div class="boxtitle">&Aacute; Propos</div>
<div class="box">
<b>OxyCast</b> est un service propos&eacute; par l'association <a href="http://www.oxyradio.net" target="_blank"><b>OxyRadio</b></a>.<br/><br/>
OxyCast propose &agrave; tous de cr&eacute;er sa webradio en quelques clics. L'int&eacute;gralit&eacute; des sommes per&ccedil;ues au titre de l'abonnement au service sont revers&eacute;s &agrave; l'association OxyRadio.<br /><br />
Gr&acirc;ce &agrave; ce service, vous pourrez b&eacute;n&eacute;ficier en quelques minutes d'un syst&egrave;me de diffusion pour votre radio avec gestion des playlists, rediffusions de podcasts, et prise de direct <u>sans aucun blanc sur votre flux</u>.<br /><br />
Si vous d&eacute;sirez obtenir de l'aide sur ce service nous vous invitons &agrave; cliquer sur le lien "Wiki" en haut de cette page afin de consulter notre documentation.<br /><br />
</div>