<div class="boxtitle">Paiement de votre commande</div>
<div class="content_content">
<p>Vous avez choisi de r&eacute;gler votre commande par <strong>ch&egrave;que</strong>.<br />
Pour cela, merci d'envoyer un ch&egrave;que &agrave; l'adresse suivante :<br />
<pre>Association OxyRadio
9B, Rue des plants Orange
95000 Cergy</pre>
<br />
<strong>Attention :</strong> Pr&eacute;cisez au dos du ch&egrave;que votre num&eacute;ro de commande : <strong><?php echo $commande->transacId; ?></strong></p>

</div>