<div class="boxtitle">Mes playlists</div>
<div class="content_content">

<p>Veuillez cocher les musiques &agrave; ajouter :</p>
<table class="table music_list">
<tr>
	<th>#</th>
	<th>Artiste <a href="playlists-musique-add-<?php echo $playlistId; ?>-order-by-artiste-asc"><img src="images/icons/arrow_down.png" alt="" height="13" width="16" /></a><a href="playlists-musique-add-<?php echo $playlistId; ?>-order-by-artiste-desc"><img src="images/icons/arrow_up.png" alt="" height="13" width="16"/></a></th>
	<th>Titre <a href="playlists-musique-add-<?php echo $playlistId; ?>-order-by-titre-asc"><img src="images/icons/arrow_down.png" alt="" height="13" width="16"/></a><a href="playlists-musique-add-<?php echo $playlistId; ?>-order-by-titre-desc"><img src="images/icons/arrow_up.png" alt="" height="13" width="16"/></a></th>
	<th>R&eacute;pertoire <a href="playlists-musique-add-<?php echo $playlistId; ?>-order-by-filename-asc"><img src="images/icons/arrow_down.png" alt="" height="13" width="16"/></a><a href="playlists-musique-add-<?php echo $playlistId; ?>-order-by-filename-desc"><img src="images/icons/arrow_up.png" alt="" height="13" width="16"/></a></th>
</tr>
<form action="playlists-musique-add-<?php echo $playlistId; ?>" method="post">
<?php foreach($musiques as $musique): ?>
	<tr>
		<td><input type="checkbox" name="musiques[]" value="<?php echo $musique['id']; ?>" <?php
		if(in_array($musique['id'], $musiquesInPlaylist)) echo 'checked';
		?>></td>
		<td><?php echo utf8_encode($musique['artiste']); ?></td>
		<td><?php echo utf8_encode($musique['titre']); ?></td>
		<td><?php echo utf8_encode($musique['chemin']); ?></td>
	</tr>
<?php endforeach; ?>
<tr><td align="center"colspan="4"><input class="submit" type="submit" name="modifier" value="Envoyer" /></td></tr>
</form>
</table>
</div>
