<div class="boxtitle">Mes playlists - Renommage d'une playlist</div>
<div class="content_content">

<form action="playlists-rename-<?php echo $_GET['playlist']; ?>" method="post">
<table border="0" cellpadding="0" cellspacing="5">
  <tr>
    <td align="right">Nom de la playlist</td>
    <td colspan="2"><input type="text" name="nom" /></td>
  </tr>
    <td>&nbsp;</td>
    <td align="center"><input class="submit" type="submit" name="Renommer" value="Envoyer"/></td>
  </tr>
</table>
</form>

</div>