<div class="boxtitle">Mes playlists - Renommer une playlist</div>
<div class="content_content">

<form action="playlists-rename-<?php echo $playlistId; ?>" method="post">
<table border="0" cellpadding="0" cellspacing="5">
  <tr>
    <td align="right">Nom de la playlist</td>
    <td colspan="2"><input type="text" name="nom" value="<?php echo $playlist->nom; ?>"/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center"><input class="submit" type="submit" name="Ajouter" value="Envoyer"/></td>
  </tr>
</table>
</form>

</div>
