# Rewriting
Options +FollowSymlinks
RewriteEngine on

RewriteRule ^$ index.php
RewriteRule ^index$ index.php [L]
RewriteRule ^inscription$ index.php?module=inscription [L]
RewriteRule ^validation-([0-9a-zA-Z]*)$ index.php?module=inscription&act=clef&clef=$1 [L]
RewriteRule ^login$ index.php?module=login [L]
RewriteRule ^password$ index.php?module=password [L]
RewriteRule ^password-([a-zA-Z0-9]*)$ index.php?module=password&act=recover&clef=$1 [L]
RewriteRule ^infos$ index.php?module=modif-infos [L]
RewriteRule ^deconnexion$ index.php?module=login&act=deconnexion [L]
RewriteRule ^offres$ index.php?module=offres [L]
RewriteRule ^support$ index.php?module=support [L]
RewriteRule ^contact$ index.php?module=contact [L]
RewriteRule ^password/([a-f0-9]{32})$ index.php?module=pass-perdu&recover=$1 [L]
RewriteRule ^stream$ index.php?module=stream [L]
RewriteRule ^stream-modifier$ index.php?module=stream&act=modifier [L]
RewriteRule ^renew$ index.php?module=renew [L]
RewriteRule ^renew-etape2$ index.php?module=renew&act=renew [L]
RewriteRule ^playlists$ index.php?module=playlist [L]
RewriteRule ^playlists-new$ index.php?module=playlist&act=new [L]
RewriteRule ^playlists-del-([0-9]*)$ index.php?module=playlist&act=del&playlist=$1 [L]
RewriteRule ^playlists-rename-([0-9]*)$ index.php?module=playlist&act=rename&playlist=$1 [L]
RewriteRule ^playlists-musique-add-([0-9]*)$ index.php?module=playlist&act=musique-add&playlist=$1 [L]
RewriteRule ^playlists-musique-add-([0-9]*)-order-by-([a-z]*)-([a-z]*)$ index.php?module=playlist&act=musique-add&playlist=$1&order=$2&sens=$3 [L]
RewriteRule ^playlists-musique-del-([0-9]*)-([0-9]*)$ index.php?module=playlist&act=musique-del&playlist=$1&music=$2 [L]
RewriteRule ^animateur$ index.php?module=animateur [L]
RewriteRule ^musique$ index.php?module=musique [L]
RewriteRule ^musique-edit-([0-9]*)$ index.php?module=musique&act=edit&id=$1 [L]
RewriteRule ^musique-order-by-([a-z]*)-([a-z]*)$ index.php?module=musique&order=$1&sens=$2 [L]
RewriteRule ^musique-update$ index.php?module=musique&update [L]
RewriteRule ^programmation$ index.php?module=programmation [L]
RewriteRule ^programmation-([1-7])$ index.php?module=programmation&jour=$1 [L]
RewriteRule ^programmation-del-([0-9]*)$ index.php?module=programmation&act=del&id=$1 [L]
RewriteRule ^programmation-add-([0-9]*)$ index.php?module=programmation&act=add&jour=$1 [L]
RewriteRule ^programmation-edit-([0-9]*)$ index.php?module=programmation&act=edit&id=$1 [L]
RewriteRule ^blog$ index.php?module=blog [L]
RewriteRule ^apropos$ index.php?module=apropos [L]
RewriteRule ^cgu$ index.php?module=cgu [L]
RewriteRule ^root$ index.php?module=admin [L]
RewriteRule ^root$ index.php?module=admin [L]
RewriteRule ^root/del/([0-9]*)$ index.php?module=admin&act=del&id=$1 [L]
RewriteRule ^root/suspend/([0-9]*)$ index.php?module=admin&act=suspend&id=$1 [L]
RewriteRule ^contact$ index.php?module=contact [L]
RewriteRule ^irc$ index.php?module=support&act=irc [L]
RewriteRule ^commande$ index.php?module=commande [L]
RewriteRule ^commande-S$ index.php?module=commande&offre=S [L]
RewriteRule ^commande-L$ index.php?module=commande&offre=L [L]
RewriteRule ^commande-XL$ index.php?module=commande&offre=XL [L]
RewriteRule ^commande-XXL$ index.php?module=commande&offre=XXL [L]
RewriteRule ^paiement-([0-9]*)-([a-z]*)$ index.php?module=paiement&transacid=$1&type=$2 [L]
RewriteRule ^paiement-valide$ index.php?module=paiement&act=valide [L]
RewriteRule ^paiement-annule$ index.php?module=paiement&act=annule [L]
