<div class="boxtitle">Cr&eacute;ation d'un minisite</div>
<div class="content_content">
<p>Vous disposez d&eacute;j&agrave; d'un mini-site. Vous pouvez y acc&eacute;der en cliquant ici : <a href="<?php echo BLOG_BASE_URL.$compte->blog; ?>"><?php echo BLOG_BASE_URL.$compte->blog; ?></a></p>
<p>Vous pouvez acc&eacute;der &agrave; l'administration de votre blog via l'url suivant : <a href="<?php echo BLOG_BASE_URL.$compte->blog."/wp-admin"; ?>"><?php echo BLOG_BASE_URL.$compte->blog."/wp-admin"; ?></a></p>
</div>
